<div class="jumbotron">
  <div class="container">
    <h1>欢迎来到 Microblog</h1>
    <p>Microblog 是一个基于Node.js 的微博系统。</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">登录</a>
      <a class="btn btn-default btn-large" href="/reg">立即注册</a>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Carbo 说</h2>
      <p>
        Open Chinese Convert(OpenCC)是一个开源的中文简繁转换项目,
        致力于制作高质量的基于统计预料的简繁转换词库。
        还提供函数库(libopencc)、命令行简繁转换工具、人工校对工具、词典生成程序、
        在线转换服务及图形用户界面。
      </p>
    </div>
    <div class="col-md-4">
      <h2>李凯 说</h2>
      <p>中州韵输入法引擎 / Rime Input Method Engine 取意历史上通行的中州韵,
        愿写就一部汇集音韵学智慧的输入法经典之作。
        项目网站设在 http://code.google.com/p/rimeime/
        创造应用价值是一方面,更要坚持对好技术的追求,希望能写出灵动而易于扩展的代码,
        使其成为一款个性十足的开源输入法。
      </p>
    </div>
    <div class="col-md-4">
      <h2>某某 说</h2>
      <p>
        一大堆内容。。。
      </p>
    </div>
  </div>
</div>

