link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/bootstrap/dist/css/video-default.css",rel="stylesheet")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/bootstrap/dist/js/jquery.video-ui.js")